{
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "tabWidth": 2,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "endOfLine": "auto"
}
