@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
:root {
  font-family: "Galmuri14", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes tornado-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(800px, 0);
  }
  37% {
    transform: translate(800px, 200px);
  }
  62% {
    transform: translate(0, 200px);
  }
  74% {
    transform: translate(0, 400px);
  }
  100% {
    transform: translate(800px, 400px);
  }
}

@keyframes tornado-send-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(400px, -400px);
  }
}
