@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
:root {
  font-family: "Galmuri14", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes tornado-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(800px, 0);
  }
  37% {
    transform: translate(800px, 200px);
  }
  62% {
    transform: translate(0, 200px);
  }
  74% {
    transform: translate(0, 400px);
  }
  100% {
    transform: translate(800px, 400px);
  }
}

@keyframes tornado-send-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(400px, -400px);
  }
}

.bounce {
  position: relative;
  animation: bounce 1s;
}

@keyframes bounce {
  33% {
    top: 0;
    height: 40px;
  }
  50% {
    top: 0;
    height: 52px;
  }

  0%,
  100% {
    top: 0;
  }
}

@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
